<ion-view view-title="Agenda de treinamentos" class="presenca">
<ion-content class="padding">
		
	<p>
		Ao confirmar sua presença, você estará ajudando a nossa Equipe e realizar eventos e palestras melhores.
	</p>

	<button ng-click="showConfirmation()" class="waves-effect waves-light btn">Confirmar Presença por código</button>

</ion-content>
</ion-view>