.questions {
	h1, h3 {
		text-align: center;
		font-size: 20px;
		margin: 0;
		padding: 0;
		margin: 20px 16px 10px;
	}
	h3 {
		font-size: 16px;
		color: #666666;
	}
	select {
		display: block;
	}
	.btn-question {
		margin: 10px auto;
		display: block;
	}
	.ion-heart {
		color: red;
		background-color: #f8f8f8;
		position: absolute;
	    right: 0;
	    width: 60px;
	    border-left: 1px solid #e0e0e0;
	    height: 100%;
	    top: 0;
		&:before {
			top: 50%;
		    left: 50%;
		    position: absolute;
		    transform: translate3d(-50%, -50%, 0);
		}
	}
}