<ion-view title="Admin" class="admin">
<ion-content>
	
	<h1>Sorteio</h1>

	<button 
		class="button button-calm"
		ng-click="sorteio();"> Realizar o Sorteio </button>

	<ion-list>
		<ion-item ng-repeat="item in sorteados">
		</ion-item>
	</ion-list>

</ion-content>
</ion-view>