.presenca {
	text-align: center;
	p {
		width: 80%;
		margin: 30px auto;
		&:last-child {
			font-weight: bold;
			font-size: 20px;
			text-transform: uppercase;
		}
	}
	button {
		background-color: $blue;
		width: 70%;
		margin: 0 auto;
		height: auto;
		line-height: 20px;
		padding: .5em 2em;
		&:active,
		&:hover {
			background-color: darken($blue,10);
		}
	}	
}

.popup-container.popup-showing {
	background-color: rgba(0,0,0,0.4);
	.button.waves-light {
		background-color: $blue;
		color: #ffffff;
	}
}
input[type="text"] {
	background-color: #efefef;
	border-bottom: 1px solid #aeaeae;
	box-shadow: 0 1px 0 0 #aeaeae;
	padding: 6px;
	box-sizing: border-box;
}