<ion-view title="Faça Suas Perguntas" class="questions">
	<ion-content>
		
		<h1>Faça sua Pergunta!</h1>
		<h3>Faça sua pergunta antes de terminar a palestra para dar tempo de outras pessoas votarem nela e aumentarem as chances dela ser feita.</h3>

		<select 
			ng-disabled="!loadPalestras"
			ng-model="selectedItem" 
			ng-model-options="{ getterSetter: true }">
			<option value="">Selecione a Palestra</option>
			<option 
				ng-repeat="(key, value) in palestras" 
				ng-show="{{value.titulo!=null}}"
				value="{{key}}">
				{{value.titulo}}
			</option>
		</select>
		<div ng-show="hasPalestraSelect">
			<button class="btn btn-question" 
			ng-click="makeQuestion();">Faça a Pergunta</button>
		</div>
		<div class="perguntas-feitas" 
			ng-show="procura">
			<h1>Perguntas feitas para essa palestra</h1>

			<ion-list>
				<!-- <ion-item class="load-item" ng-show="procura">
					carregando ...
				</ion-item>
				<ion-item class="load-item" ng-show="perguntas == null">
					Sem nenhuma pergunta no momento
				</ion-item> -->
				<ion-item 
					ng-repeat="item in perguntas">


					<div class="row" style="padding: 0px;" style="height: 200px">
						<div class="col col-90">
							<div class="resumo">
								<textarea readonly="true" ng-model="item.pergunta"></textarea>					
							</div>
						</div>
						<div class="col" style="padding: 0px">
							<i ng-show="{{!item.like}}" 
								class="icon ion-android-favorite-outline" style="font-size: 40px" ng-click="doLike(item);"></i>
							<i ng-show="{{item.like}}" class="icon ion-android-favorite" style="font-size: 40px" ></i>	
						</div>
						
					</div>

					
					<!-- <i class="icon ion-heart" ng-click="addLike(value.palestra, key);"></i> -->
				</ion-item>


				
			</ion-list>
		</div>

	</ion-content>
</ion-view>