<ion-view title="UOL Academia" class="home">
	<ion-content>
		
		<ul class='home-icons'>
			<li ng-click="enterEvent('tab.tecDay');">
				<span class='ion-android-locate'>Techday</span>
			</li>
		</ul>

	</ion-content>
</ion-view>