.pane {
  background-color: #f8f8f8; }

ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.active,
ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.activated {
  border-bottom: 2px solid #25B4E4;
  color: #25B4E4; }

[nav-bar-transition="ios"] [nav-bar="active"] .bar,
[nav-bar-transition="ios"] [nav-bar="entering"] .bar {
  background-color: #333333; }

.nav-bar-block .bar .title {
  text-align: center !important;
  background-color: #333333;
  margin-left: -16px;
  margin-right: -16px;
  color: #fff;
  font-size: 16px; }

.techday .padding {
  padding: 0; }

.techday .list ion-item {
  position: relative;
  border-bottom: 1px solid #fff;
  color: #ffffff;
  padding: 0;
  min-height: 112px;
  background-color: #ffffff;
  /*
		.area {
			background-color: rgba(233,169,50,1);
			margin: 10px -16px -16px -16px;
		}
		.area span{
			display: block;
	    	//background-color: darken($bg-gray, 10%);
	    	padding: 10px 16px;
	    	font-weight: bold;
	    	font-size: $font-size * 0.5;
		}
		*/ }
  .techday .list ion-item.border-blue .content {
    border-left: 3px solid #25B4E4; }
  .techday .list ion-item.border-yellow .content {
    border-left: 3px solid #F7D708; }
  .techday .list ion-item.border-red .content {
    border-left: 3px solid #CE0000; }
  .techday .list ion-item.border-green .content {
    border-left: 3px solid #9CCF31; }
  .techday .list ion-item .hour-bar {
    background-color: #757575;
    padding: 3px 16px;
    color: #fff;
    border-bottom: 1px solid #666666; }
  .techday .list ion-item .content {
    position: relative;
    padding: 16px 16px 16px 82px;
    z-index: 10;
    width: 100%;
    margin: 0px;
    display: block;
    min-height: 82px; }
    .techday .list ion-item .content .img {
      position: absolute;
      left: 16px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: block;
      overflow: hidden; }
      .techday .list ion-item .content .img img {
        width: 100%; }
  .techday .list ion-item h1 {
    color: #ffffff;
    font-size: 18px;
    padding-bottom: 0;
    margin-bottom: 0;
    white-space: initial;
    color: #333;
    margin: 0; }
  .techday .list ion-item h2.small {
    font-size: 14.3px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    color: #e6e6e6; }
  .techday .list ion-item .resumo {
    white-space: normal;
    font-size: 15.6px;
    background-color: #ffffff;
    margin: 0;
    height: auto;
    padding: 5px 16px;
    color: #333333;
    transition: all 0.5s 0s ease-in;
    box-shadow: 0 0 20px 5px inset rgba(0, 0, 0, 0.7); }
  .techday .list ion-item .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-right: 32px;
    padding-bottom: 5px; }
  .techday .list ion-item .autor {
    text-align: left;
    color: #222222;
    font-size: 11.7px; }
  .techday .list ion-item img {
    max-height: 80px;
    margin: 0 auto; }
  .techday .list ion-item .fader {
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5; }

.techday .list ion-item.showResume .resumo {
  padding: 5px 16px;
  height: 50px; }

.calendario .item {
  padding: 0;
  height: auto;
  transition: all 300ms 0s ease-out; }
  .calendario .item span {
    padding: 16px;
    display: block; }
  .calendario .item ul {
    display: none;
    padding: 0 16px 16px; }
  .calendario .item.active {
    height: auto; }
    .calendario .item.active ul {
      display: block; }

.calendario .has-items:after {
  content: "+";
  position: absolute;
  z-index: 10;
  right: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  top: 25px;
  transform: translateY(-50%); }

.links {
  position: absolute;
  right: 0;
  cursor: pointer;
  height: 100%;
  border: 1px solid #f8f8f8;
  top: 0;
  width: 50px;
  line-height: 100%;
  font-size: 10px;
  text-align: center; }
  .links.link-1 {
    right: 100px; }
  .links.link-2 {
    right: 50px; }

.home-icons li {
  width: 33%;
  text-align: center; }
  .home-icons li span {
    display: block;
    background-color: #dcdcdc;
    width: 70px;
    height: 70px;
    margin: 25px auto;
    padding-top: 10px;
    border-radius: 50%;
    line-height: 40px;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.4); }
    .home-icons li span:before {
      font-size: 50px;
      line-height: 50px;
      color: #9E321F; }

.techday .resumo button {
  float: right;
  margin-top: 20px;
  padding: 0 10px;
  min-height: 40px;
  line-height: 38px;
  display: block;
  margin-bottom: 10px; }

.feedback .list ion-item {
  position: relative;
  padding-top: 0;
  padding-bottom: 0; }
  .feedback .list ion-item a {
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent; }
  .feedback .list ion-item.avaliado {
    background-color: #e6ffe6; }
  .feedback .list ion-item h1 {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 16px; }
  .feedback .list ion-item aside {
    position: absolute;
    right: 16px;
    top: 13px;
    padding-left: 16px;
    font-size: 25px;
    font-weight: bold; }

.feedback-item h1 {
  font-size: 20px;
  margin: 16px;
  color: #25B4E4; }
  .feedback-item h1 .small {
    font-size: 60%;
    color: #a2a2a2;
    display: block; }

.feedback-item .list {
  margin: 0 16px;
  background-color: #FFF; }
  .feedback-item .list .item.range input[type='range']::-webkit-slider-thumb {
    margin-top: -10px; }
  .feedback-item .list .item-stacked-label {
    padding: 1px 10px;
    margin: 0;
    margin-bottom: -1px;
    border: 1px solid #e2e2e2;
    box-sizing: border-box; }
    .feedback-item .list .item-stacked-label span {
      margin: 0;
      padding: 0;
      color: #1894be;
      background-color: #fff;
      display: block;
      margin-top: 15px; }
    .feedback-item .list .item-stacked-label input[type='text'] {
      background-color: #f8f8f8;
      border: 1px solid #efefef;
      padding-left: 16px;
      box-sizing: border-box;
      margin-bottom: 15px; }
  .feedback-item .list div .input-label {
    width: 100%;
    max-width: 100%;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 3px;
    color: #1894be;
    background-color: #f8f8f8;
    border-radius: 6px; }
  .feedback-item .list h2 {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18.2px;
    text-align: center; }

.feedback-item .btn-send {
  padding-top: 30px;
  text-align: center;
  background-color: #f8f8f8; }

.feedback-item button {
  background-color: #25B4E4;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 15px;
  margin-top: 15px; }
  .feedback-item button:hover {
    background-color: #1894be; }

body.feedbackBody ion-header-bar.bar-header .back-button {
  display: block !important;
  color: #ffffff; }

.presenca {
  text-align: center; }
  .presenca p {
    width: 80%;
    margin: 30px auto; }
    .presenca p:last-child {
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase; }
  .presenca button {
    background-color: #25B4E4;
    width: 70%;
    margin: 0 auto;
    height: auto;
    line-height: 20px;
    padding: .5em 2em; }
    .presenca button:active, .presenca button:hover {
      background-color: #1894be; }

.popup-container.popup-showing {
  background-color: rgba(0, 0, 0, 0.4); }
  .popup-container.popup-showing .button.waves-light {
    background-color: #25B4E4;
    color: #ffffff; }

input[type="text"] {
  background-color: #efefef;
  border-bottom: 1px solid #aeaeae;
  box-shadow: 0 1px 0 0 #aeaeae;
  padding: 6px;
  box-sizing: border-box; }

.questions h1, .questions h3 {
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding: 0;
  margin: 20px 16px 10px; }

.questions h3 {
  font-size: 16px;
  color: #666666; }

.questions select {
  display: block; }

.questions .btn-question {
  margin: 10px auto;
  display: block; }

.questions .ion-heart {
  color: red;
  background-color: #f8f8f8;
  position: absolute;
  right: 0;
  width: 60px;
  border-left: 1px solid #e0e0e0;
  height: 100%;
  top: 0; }
  .questions .ion-heart:before {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate3d(-50%, -50%, 0); }
