<ion-view title="Admin" class="admin-feedback">
<ion-content>

	<style>
		.admin-feedback select {
			display: block;
		}
		.admin-feedback h1,
		.admin-feedback h2,
		.admin-feedback h3 {
			text-align: center;
			width: 100%;
		}
		.admin-feedback .par {
			background-color: #c7c7c7;
		}
		.admin-feedback .comments {
			padding: 0 10px;
		}
		.admin-feedback .comments li {
			padding: 10px;
		}
	</style>

	<div class="container-fluid">
		<div class="row">
			<div class="col s12">
				<select 
					ng-disabled="!loadPalestras"
					ng-model="palestraSelecionada" 
					ng-change="selectPalestra(palestraSelecionada);">
					<option value="">Selecione a Palestra</option>
					<option 
						ng-repeat="item in treinamentosFeedback" 
						ng-show="{{ item.titulo != null }}"
						value="{{ item.key }};{{ item.titulo }}">
						{{ item.titulo }}
					</option>
				</select> 
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="row">
			<h2> {{ nomePalestraSelecionada }} </h2>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<table class="table bordered striped">
				<tr>
					<td>Nota Total:</td>
					<td> {{ notaTotal }}</td>
				</tr>
				<tr>
					<td>Número de Votos:</td>
					<td> {{ votosTotal }}</td>
				</tr>
				<tr>
					<td>Média:</td>
					<td> {{ notaTotal / votosTotal }}</td>
				</tr>
			</table>
		</div>
	</div>
	<ul class="comments">
		<li ng-repeat="item in comentarios" ng-class="$index % 2 == 0 ? 'par' : ''">
			{{ item.comentario }}
		</li>
	</ul>

</ion-content>
</ion-view>