<ion-view title="Admin" class="admin">
<ion-content>
  
  <style>
    .button-admin .col.s6 {
      text-align: center;
      margin-top: 20px;
    }
  </style>

  <div class="container-fluid">
    <div class="row">
      
      <ng-include 
        src="'templates/admin/perguntas.html'" 
        ng-controller="AdminPerguntaControllers"></ng-include>

    </div>
  </div>

</ion-content>
</ion-view>