<ion-view title="Admin" class="admin">
<ion-content>

	<style>
		.admin .menu ul li a {
			display: block;
			padding: 10px 5px;
			cursor: pointer;
		}
		.coluna {
			display: inline-block;
		}
		.s2, .s10 {
			width: 17%;
		}
		.s10 {
			width: 80%;
			padding-left: 20px;
		}
		.resultados h1 {

		}
		.box-sorteio, 
		.boxlista {
			margin: 0 -10px;
			font-size: 18px;
			line-height: 20px;
		}
		.boxlista {
			margin-top: 15px;
		}
		.box-sorteio .button {
			vertical-align: middle;
		}
		.lucky-bastard {
			display: inline-block;
			width: 70%;
			line-height: 30px;
			padding: 5px 10px;
		}
		.lucky-bastard.ended {
			background-color: #b7ffc6;
		}
		.lucky-bastard.not-started img {
			height: 35px;
			margin-bottom: -10px;
		}
		.boxlista .list .item-participantes {
			padding: 5px 10px;
		}
		.boxlista .list .item-participantes.par {
			background-color: #b7ffc6;
		}
		.loading {
			text-align: center;
		}
		
	</style>
	
	<div ng-include="'templates/partials/sorteio.html'"></div>

</ion-content>
</ion-view>