<style>
  .admin select {
    display: block;
    border:1px solid #aeaeae;
  }
  .par {
    background-color: #e2e2e2;
  }
</style>

  <div class="container-fluid">
    <div class="row">
      <div class="col s12">
        <select 
          ng-disabled="!loadPalestras"
          ng-model="selectedItem" 
          ng-model-options="{ getterSetter: true }">
          <option value="">Selecione a Palestra</option>
          <option 
            ng-repeat="item in treinamentosFeedback" 
            ng-show="{{ item.titulo != null }}"
            value="{{ item.key }}">
            {{ item.titulo }}
          </option>
        </select> 
      </div>
    </div>
  </div>

<h3>Perguntas Realizadas Pela Platéia</h3>

<p ng-show="!showListaPerguntas">
  Não existem perguntas para essa palestra no momento.
</p>

<ion-list ng-show="showListaPerguntas">
  <ion-item ng-repeat="item in listagemPerguntas" ng-class=" $index % 2 == 0 ? 'par' : '' " >
    <b> Pergunta: </b> {{ item.pergunta }} <br>
    <b> Votos: </b> {{ item.contadordevotos == null ? '0' : item.contadordevotos }} <br>
    <span ng-hide="item.anonimo">
      <b> Usuário: </b> {{ item.usuario }} 
    </span>
  </ion-item>

</ion-list>
