<div>
	<h1>Palestra</h1>
	<div>
			<div>
				<label>TecDay</label>
				<select style="display: inline;" ng-model="selectTecDay" ng-model-options="{ getterSetter: true }" >
					<option value="" disabled selected>Selecione o TacDay</option>
					<option ng-repeat="item in tecdays"  value="{{item}}">{{item}}</option> 
				</select>
			</div>
	</div>
	<div>
		<div class="row">
			<div class="col s4">
				<label>Palestra</label>
				<select style="display: inline;" ng-model="selectPalestra" ng-model-options="{ getterSetter: true }" >
					<option value="" disabled selected>Selecione a Palestra</option>
					<option ng-repeat="item in tecDay"  value="{{item.key}}">{{item.titulo}}</option> 
				</select>
			</div>
			<div class="col s4">
				<br>
				<div id="qrcode" ></div>
			</div>

			<div class="col s4">
				<button ng-click="sorteio(users);">
					Realizar o Sorteio
				</button>
			</div>

			

		</div>




		<div class="row">
			<div class="col s4">
				Inscritos
				<div>
					<table class="striped">
						<thead>
							<th>Nome</th>
							<th>Gestor</th>
						</thead>
						<tbody>
							<tr ng-repeat="ins in inscricao">
								<td>{{ins.usuario}}</td>
								<td>{{ins.gestor}}</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>

			<div class="col s4">
				Feedback

				<table class="striped">
					<thead>
						<th>Nota</th>
						<th>Comentario</th>
					</thead>
					<tbody>
						<tr ng-repeat="feed in feedback">{{feed}}>
							<td>{{feed.nota}}</td>
							<td>{{feed.comentario}}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col s4">
				Presenca
				<table class="striped">
					<thead>
						<th>Nome</th>
					</thead>
					<tbody>
						<tr ng-repeat="users in users">
							<td>{{users.username}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>		
</div>

</div>