<div >
	<div>
		<h2>TecDay</h2>
		<div style="display: inline-block;width:50%">
			<h3>Datas dos TecDays</h3>
			<p ng-repeat="item in tecdays">{{item}}</p>
		</div>
		<div style="display: inline-block;">
			<h3>Adicionar TecDay</h3>
			Dia: <input type="text" style="width: 25px" ng-model-options="{ getterSetter: true }" ng-model="dia">
			Mes: <input type="text" style="width: 25px" ng-model-options="{ getterSetter: true }" ng-model="mes">
			Ano: <input type="text" style="width: 25px" ng-model-options="{ getterSetter: true }" ng-model="ano">
			<br>
			<button ng-click="adicionar()">Adicionar</button>
		</div>
	</div>
</div>