<style>
	.feedback{
		text-align: center;
	}
	.feedback h3 {
		display: block;
		width: 100%;
	}
</style>
<div class="container-fluid feedback">
	<div class="row">
		<h3>Feedback das Palestras</h3>
	</div>
	<div class="row">
		<select
			>
			<option value="">Selecione a Palestra</option>	
		</select>
	</div>
</div>