.home-icons {
	li {
		width: 33%;
		text-align: center;
		span {
			display: block;
		    background-color: #dcdcdc;
		    width: 70px;
		    height: 70px;
		    margin: 25px auto;
		    padding-top: 10px;
		    border-radius: 50%;
		    line-height: 40px;
		    box-shadow: 0 0 30px 0px rgba(0,0,0,0.4);
			&:before {
				font-size: 50px;
				line-height: 50px;
				color: $red;
			}
		}
	}
}

.techday {
	.resumo {
		button {
			float: right;
			margin-top: 20px;
			padding: 0 10px;
			min-height: 40px;
			line-height: 38px;
			display: block;
			margin-bottom: 10px;
		}
	}
}