<ion-view title="Feedback da Palestra" class="feedback-item" ng-controller="feedbackCtrl">
	<ion-content>
		<h1>
			{{title}}
			<small class='small'>Ajude-nos preenchendo esse feedback. Obrigado</small>
		</h1>
		<div id="all" style="height: 100%">
			<div class="list" style="height: 100%">
	  			
	  			
	  			<div style="height: 100%">
	  			<span class="input-label">Nota geral para a palestra</span>
		  			
		  			<div class="item range">
		  				<i class="icon ion-sad-outline"></i>
		  				<input 
		  					ng-model-options="{ getterSetter: true }" 
		  					type="range" name="nota" min="1" max="5" 
		  					ng-model="notaPalestra">
		  				<i class="icon ion-happy-outline"></i>
					</div>

		  			<label class="item item-input item-stacked-label" style="height: 200px" />
		    			<span>Comentarios</span>
		  				<textarea ng-model-options="{ getterSetter: true }" placeholder="Quer comentar algo?" ng-model="comentario"> </textarea>
		  			</label>
	  				
					<button ng-click="showPopup()" class="waves-effect waves-light btn">Enviar Avaliação</button>
					
	  			</div>
	  		</div>
		</div>
	</ion-content>
</ion-view>