<ion-view view-title="Feedback de treinamentos" class="feedback">
  <ion-content>
    <ion-list>
      <ion-item 
        ng-repeat="item in treinamentosFeedback" 
        ng-class="changeClass(item)? 'avaliado' : 'pendente';" 
        href="#/feedback/{{item.key}}/{{item.titulo}}"
        ng-show="item.area != 'coffee' ">
        <h1>
          {{item.titulo}}
        </h1>
        <aside>
          <!-- <i ng-show="!item.avaliado" class="icon ion-edit"> </i> -->
          <i  class="ion-ios-arrow-forward"> </i>
        </aside>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>