<ion-view view-title="Agenda de treinamentos">
  <ion-content class="padding">
    <ion-list>
      <ion-item ng-repeat="item in treinamentos" style="padding: 0px;">
        <div class="row" style="padding: 0px;">
          <div class="col col-75" >
            <div class="row">
              <div class="col" style="padding: 0px;" />
              <p style="color: black">
                {{item.titulo}}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col" style="padding: 0px;">
              <p style="font-size:13px">
                {{item.data | date: "yyyy-MM-dd"}}
              </p>
            </div>
          </div>
        </div>
        <div class="col col-center" style="border-left: 1px solid #ddd;padding: 0px">
          <div class="row">
            <div class="col">
              <!-- <p style="color: green" ng-class="{'hide': item.inscrito  , 'positive' : true}">Inscreva-se</p> -->
              <!-- <p ng-class="{'hide': !item.inscrito , 'positive' : true}">Inscrito</p> -->
              </i>
            </div>
          </div>
        </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>