<ion-view view-title="Programação" class="techday" ng-init="techday=false">
    <ion-content class="padding">
        <ion-list>

            <ion-item ng-repeat="item in apresentacoes" ng-class="selectClass($index);" ng-click="mostrarResumo(item);">
                
                <div class="hour-bar">
                    {{item.hora}}
                </div>
                <div class="content " style="padding: 0px; padding-left: 43px; padding-top: 16px; height: 33px !important">
                    
                   <!--  <div class="img">
                            <img ng-src="{{imgSrc(item);}}">
                    </div> -->

                    <h1> {{item.titulo}} </h1>
                    <h2 class="autor"> {{item.autor}} </h2>

                </div>

                <div class="resumo" ng-show="item.showResume">
                    {{item.resumo}}
                    <!-- <button class="button button-calm"
                        ng-show ="techday"
                        ng-click="fazerInscricao(item.id);">
                        Inscrever-se
                    </button> -->
                </div>


            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>