<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Programação" icon-off="ion-ios-calendar-outline" icon-on="ion-calendar" href="#/tab/tecDay">
    <ion-nav-view name="tab-tecDay"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Calendario" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/agenda" class="hide">
    <ion-nav-view name="tab-agenda"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Feedback" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/feedback">
    <ion-nav-view name="tab-feedback"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Presenca" icon-off="ion-ios-personadd-outline" icon-on="ion-person-add" href="#/tab/presenca">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Perguntas" 
    icon-off="ion-ios-chatbubble-outline" 
    icon-on="ion-chatbubble" 
    href="#/tab/perguntas">
      <ion-nav-view name="tab-question"></ion-nav-view>
  </ion-tab>

  <!-- <ion-tab title="Admin" icon-off="ion-ios-personadd-outline" icon-on="ion-person-add" href="#/tab/admin">
    <ion-nav-view name="tab-admin"></ion-nav-view>
  </ion-tab> -->

</ion-tabs>
