aside h3 {
	font-size: 20px;
}

aside .collection-header {
	background-color: #e0e0e0;
	text-align: center;
	padding: 16px;
}

#main h2 {
	font-size: 24px;
	border-bottom: 1px solid #aeaeae;
}

.lista-de-palestras {
	border-bottom: 1px solid #e0e0e0;
	position: relative;
}
.lista-de-palestras-container {
	position: relative;
	z-index: 10;
}
.lista-de-palestras-container #qrcode {
	position: absolute;
	top: 16px;
	right: 16px;
	z-index: 20;
	background-color: #ffffff;
	padding: 16px;
}