<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="manifest" href="/manifest.json?v30">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <meta name="theme-color" content="#0bc0c2">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Weather PWA">
    <link rel="apple-touch-icon" href="images/icons/icon-152x152.png">
    <meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">
    
    <script src="js/utils/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyCBj4VhmqYrE_wEcQQT5MkUnbXT9jj18Gc",
        authDomain: "uolacademiateste.firebaseapp.com",
        databaseURL: "//uolacademiateste.firebaseio.com",
        storageBucket: "",
        messagingSenderId: "678155729714"
      };
      firebase.initializeApp(config);
    </script>
    
    <link href="css/materialize.min.css" rel="stylesheet">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/services.js"></script>
    <script src="js/controllers/Admin.js"></script>
    <script src="js/controllers/AdminFeedback.js"></script>
    <script src="js/controllers/AdminPerguntas.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/app.js"></script>

    <script src="js/firebase.js"></script>
    <script src="js/qrCode.js"></script>

      
    <style>
      body.feedbackBody .bar-header .back-button{
        color: #ffffff;
        padding-left: 6px;
        display: block;
      }
    </style>
  </head>
  <body ng-app="starter">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-nav-bar ng-controller="BarraCtrl">
      <ion-nav-back-button class="button-clear" ng-click="backButton();">
        <i class="ion-arrow-left-c"></i> Voltar
      </ion-nav-back-button>
    </ion-nav-bar>
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view></ion-nav-view>
  </body>
</html>
