<select 
  ng-disabled="!loadPalestras"
  ng-model="selectedItem" 
  ng-model-options="{ getterSetter: true }">
  <option value="">Selecione a Palestra</option>
  <option 
    ng-repeat="item in treinamentosFeedback" 
    ng-show="{{ item.titulo != null }}"
    value="{{ item.key }}">
    {{ item.titulo }}
  </option>
</select> 