.links {
	position: absolute;
	right: 0;
	cursor: pointer;
	height: 100%;
	border:1px solid #f8f8f8;
	top: 0;
	width: 50px;
	line-height: 100%;
	font-size: 10px;
	text-align: center;
	&.link-1 {
		right: 100px;
	}
	&.link-2 {
		right: 50px;	
	}
}