.feedback-item {
	h1 {
		font-size: 20px;
		margin: 16px;
		color: $blue;
		.small {
			font-size: 60%;
			color: lighten($gray,20);
			display: block;
		}
	}
	.list {
		margin: 0 16px;
		background-color: #FFF;
		.item.range {
			input[type='range']::-webkit-slider-thumb {
				margin-top: -10px;
			}
		}
		.item-stacked-label {
			padding: 1px 10px;
			margin: 0;
			margin-bottom: -1px;
			border:1px solid lighten($gray,45);
			box-sizing:border-box;
			span {
				margin: 0;
				padding: 0;
				color: darken($blue,10);
				background-color: #fff;
				display: block;
				margin-top: 15px;
			}
			input[type='text'] {
				background-color: #f8f8f8;
				border:1px solid lighten($gray,50);
				padding-left: 16px;
				box-sizing:border-box;
				margin-bottom: 15px;
			}
		}
		div {
			.input-label {
				width: 100%;
				max-width: 100%;
				padding: 0;
				padding-top: 20px;
				padding-bottom: 3px;
				color: darken($blue,10);
				background-color: $bg-gray;
				border-radius: 6px;
			}
		}

		h2 {
			margin: 0;
			padding: 0;
			background-color: $bg-gray;
			margin: 0px;
			padding-top: 20px;
			padding-bottom: 20px;
			font-size: $font-size * 0.7;
			text-align: center;
		}

	}
	.btn-send {
		padding-top: 30px;
		text-align: center;
		background-color: #f8f8f8;
	}
	button {
		background-color: $blue;
		left: 50%;
		transform: translateX(-50%);
		margin-bottom: 15px;
		margin-top: 15px;
		&:hover {
			background-color: darken($blue,10);
		}
	}
}

body.feedbackBody {
	ion-header-bar.bar-header {
		.back-button {
			display: block !important;
			color: #ffffff;
		}
	}
}