.feedback {
	.list ion-item {
		position: relative;
		padding-top: 0;
		padding-bottom: 0;
		a {
			padding-top: 0;
			padding-bottom: 0;
			background-color: transparent;
		}

		&.avaliado {
			background-color: lighten(green,70);
		}
		h1 {
			font-size: 16px;
			margin-top: 16px;
			margin-bottom: 16px;
		}
		aside {
			position: absolute;
			right: 16px;
			top: 13px;
			padding-left: 16px;
			font-size: 25px;
			font-weight: bold;
		}
	}
}