<div>
	Ola
	<div ng-controller="workshopAdicionar">
		<h5>Adicionar WorkShop</h5>
		<div class="input-field row" >
			<div class="col s4">
				<input ng-model="dia" placeholder="Dia" id="dia" type="text" class="validate">
	        	<label for="dia">Dia</label>
	        </div>

	        <div class="col s4">
	        	<input ng-model="mes" placeholder="mes" id="mes" type="text" class="validate">
	        	<label for="mes">Mes</label>
	        </div>
	        
	        <div class="col s4">
	        	<input ng-model="ano" placeholder="ano" id="ano" type="text" class="validate">
	        	<label for="ano">Ano</label>
	        </div>
        </div>
        <div class="row">
        	<a ng-click="addWorkshop()" class="waves-effect waves-light btn">Adicionar</a>
        </div>
	</div>
	<div ng-controller="workshopController">
		<h5>Selecionar Workshop</h5>
		<div class="row">
			<div class="col" ng-repeat="item in workshops">
				<input name="group1" type="radio" id="{{item}}" value="{{item}}" ng-model="dia" ng-model-options="{ getterSetter: true }"/>
      			<label for="{{item}}">{{item}}</label>
			</div>
		</div>
	</div>
	<div ng-controller="workshopAdicionarApresentacao">
		<!-- <div class="input-field row" >
			<div class="col s4">
				<input ng-model="dia" placeholder="Dia" id="dia" type="text" class="validate">
	        	<label for="dia">Dia</label>
	        </div>
	    </div> -->
	    <div>
	    	<h5>Adicionar Apresentacao</h5>
	    	<div>
	    		<div class="input-field">
				    <select style="display: inline;" ng-model="workshop" ng-model-options="{ getterSetter: true }" >
				      <option value="" disabled selected>Selecione o Workshop</option>
				      <option ng-repeat="item in workshops" value="{{item}}">{{item}}</option>
				    </select>
				 </div>	
				 <div class="input-field">
				 	<div>
						<input ng-model="titulo" placeholder="Titulo" id="titulo" type="text" class="validate">
			        </div>
			        <div>
						<input ng-model="autor" placeholder="Autores" id="dia" type="text" class="validate">
			        </div>
				 </div>
				 <div class="input-field row">
				 	<div class="col s6">
						<input ng-model="hora" placeholder="Hora Inicial" id="titulo" type="text" class="validate">
			        </div>
				 </div>
				 <div>
				 	<a class="waves-effect waves-light btn" ng-click="addPalestra()">Adicionar</a>
				 </div>
	    	</div>
	    </div>

		
		<!-- $scope.titulo=null;
		$scope.palestrantes=null;

		$scope.horarioInicial=null;
		$scope.horarioFinal=null;	 -->


	</div>
	<div ng-controller="workshopApresentacao"></div>
</div>