$blue: #25B4E4;

//$orange: rgb(255, 59, 0);
$orange: $blue;

$bg-gray: #f8f8f8;

$gray: #6f6f6f;
$red: #9E321F;

$font-size: 26px;

@mixin gradient () {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e9a932+0,a12921+100 */
	background: rgb(233,169,50); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(233,169,50,1) 0%, rgba(161,41,33,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(233,169,50,1) 0%,rgba(161,41,33,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(233,169,50,1) 0%,rgba(161,41,33,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9a932', endColorstr='#a12921',GradientType=1 ); /* IE6-9 */
}

.pane {
	background-color: $bg-gray;
}

ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active, 
ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.active, 
ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.activated {
	border-bottom: 2px solid $orange;
	color: $orange;
}

[nav-bar-transition="ios"] [nav-bar="active"] .bar, 
[nav-bar-transition="ios"] [nav-bar="entering"] .bar {
	background-color: #333333;
}

.nav-bar-block .bar .title {
	text-align: center !important;
	background-color: lighten(#000000,20);
	margin-left: -16px;
	margin-right: -16px;
	color: #fff;
	//border-bottom: 1px solid #9E321F;
	font-size: 16px;
}

.techday {
	.padding {
		padding: 0;
	}
	.list ion-item {
		position: relative;
		border-bottom: 1px solid #fff;
		color: #ffffff;
		padding: 0;
		min-height: 112px;
		background-color: #ffffff;
		&.border-blue .content {
			border-left: 3px solid $blue;
		}
		&.border-yellow .content {
			border-left: 3px solid #F7D708;
		}
		&.border-red .content {
			border-left: 3px solid #CE0000;
		}
		&.border-green .content {
			border-left: 3px solid #9CCF31;
		}
		.hour-bar {
	        background-color: #757575;
	        padding: 3px 16px;
	        color: #fff;
	        border-bottom: 1px solid #666666;
    	}
		.content {
			position: relative;
        	padding: 16px 16px 16px 82px;
			z-index: 10;
			width: 100%;
			margin: 0px;
			display: block;
			min-height: 82px;
			.img {
		        position: absolute;
		        left: 16px;
		        width: 50px;
		        height: 50px;
		        border-radius: 50%;
		        display: block;
		        overflow: hidden;
		        img {
		        	width: 100%;
		        }
			}
		}		
		h1 {
			color: #ffffff;
			font-size: 18px;
			padding-bottom: 0;
			margin-bottom: 0;
			white-space: initial;
			color: #333;
			margin: 0;
		}
		h2.small {
			font-size: $font-size * 0.55;
			margin: 0;
			padding: 0;
			margin-bottom: 30px;
			color: darken(#ffffff, 10);
		}
		.resumo {
			white-space: normal;
			font-size: $font-size * 0.6;
			background-color: #ffffff;
			margin: 0;
			height: auto;
			padding: 5px 16px;
			color: #333333;
			//height: 0;
			transition: all 0.5s 0s ease-in;
			box-shadow: 0 0 20px 5px inset rgba(0,0,0,0.7);
		}
		
		.footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			padding-right: 32px;
			padding-bottom: 5px;

		}
		.autor {
			text-align: left;
			color: #222222;
			font-size: $font-size * 0.45;

		}
		img {
			//opacity: 0.6;
			//position: absolute;
			//top:0;
			//height: 150px;
			max-height: 80px;
			margin: 0 auto;
		}
		/*
		.area {
			background-color: rgba(233,169,50,1);
			margin: 10px -16px -16px -16px;
		}
		.area span{
			display: block;
	    	//background-color: darken($bg-gray, 10%);
	    	padding: 10px 16px;
	    	font-weight: bold;
	    	font-size: $font-size * 0.5;
		}
		*/
		.fader {
			background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);

			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 5;
		}

	}
	.list ion-item.showResume {
		.resumo {
			padding: 5px 16px;
			height: 50px;
		}
	}
}