<div class="container-fluid">
	
	<div class="row">
		<div class="col s12">
			<button class="button button-calm button-bruno" ng-click="adicionarConvidado();">
				Adicionar Convidado
			</button>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h1>Sorteio</h1>
						
			<div class="box-sorteio">
				<div class="col s12 m4 l2">
					<button 
						class="button button-calm"
						ng-click="makeSorteio();"> Realizar o Sorteio 
					</button>	
				</div>
				<div class="col s12 m8 l10">
					<b> Sortudo da vez: </b>
					<span class="lucky-bastard not-started" ng-show="!sorteioFinish">
						<img src="img/Ellipsis.gif" alt="">
					</span>
					<span class="lucky-bastard ended" ng-show="sorteioFinish"> {{ luckyGuy.user }} - {{ luckyGuy.username }} </span>
				</div>

			</div>

			<div class="row"></div>

			<div class="boxlista">
				<div class="col s12">

					<div ng-show="!listComplete" class="loading loading-participantes">
						<img src="img/Blocks.gif" alt="">
					</div>
					
					
					<ion-list>
						<ion-item ng-repeat="item in listaParticipantes | orderBy: '+username' " class="col s6 m4 l2 item-participantes" ng-class="item.sorteado ? 'par' : ''" ng-click="deleteEspertao(item.key)">
							{{ $index }} - {{ item.username }}
						</ion-item>
					</ion-list>
					
					
				</div>
			</div>
		</div>
	</div>

</div>