.calendario {
	.item {
		padding: 0;
		height: auto;
		transition: all 300ms 0s ease-out;
		span {
			padding: 16px;
			display: block;
		}
		ul {
			display: none;
			padding: 0 16px 16px;
		}
		&.active {
			height: auto;
			ul {
				display: block;
			}
		}
	}
	.has-items {
		&:after {
			content: "+";
		    position: absolute;
		    z-index: 10;
		    right: 10px;
		    width: 20px;
		    height: 20px;
		    font-size: 20px;
		    line-height: 20px;
		    top: 25px;
		    transform: translateY(-50%);
		}
	}
}